.page {
    h1 {
        font-family: var(--font-inter);
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: black;
    
        img {
            display: inline-block;
            position: relative;
            top: 2px;
            width: 72px;
        }
    }
    
    h2 {
        font-family: var(--font-inter);
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    
        color: #374151;
    }
    
    #btn-find-password {
        &:hover {
            color: gray !important;
        }
    }
    
    #bottom {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    
        color: #6B7280;
    
        a:hover {
            color: gray !important;
        }
    }
}