.page {
    h1 {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
    
        img {
            position: relative;
            top: 2px;
            width: 72px;
        }
    }
    
    h2 {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    
        color: #374151;
    }
}