.slide-move {
    transition: transform .3s;
}

@keyframes slideYDownIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}

.slideYDownIn {
    animation-name: slideYDownIn;
    animation-duration: .3s;
}

@keyframes slideYDownOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateY(15px);
    }
}

.slideYDownOut {
    animation-name: slideYDownOut;
    animation-duration: .3s;
}